.blank-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-wrapper {
  padding: 20px;
  margin: 25px 0;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  min-width: 400px;
  max-width: 600px;
  background-color: var(--foreground-color);
  color: var(--text-color);
}

div#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#main-container h1,
div#main-container h2,
div#main-container h3 {
  margin: 15px 0;
}

div#main-container form,
div#main-container div.under-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 300px;
}

div#main-container div.error-container {
  margin-bottom: 20px;
  height: 20px;
}

div#main-container div.error-container p.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 5px;
}

div#main-container div.error-container p.updated {
  color: var(--update-button);
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

div#main-container .input-container {
  position: relative;
  width: 100%;
}

div#main-container .select-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.1rem;
  gap: 10px;
}

div#main-container .select-container > div {
  flex: 1;
}

div#main-container .select-container > div > select {
  width: 100%;
  margin-top: 5px;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--border-color);
  color: var(--text-color);
}

div#main-container .multi-selector {
  width: 100%;
}

div#main-container .multi-selector .dropdown-content {
  top: -100px;
}

div#main-container .multi-selector .dropdown-content span {
  margin-right: 100%;
}

div#main-container .multi-selector div {
  background-color: var(--foreground-color) !important;
}

div#main-container .multi-selector input[type="text"] {
  background-color: var(--contrast-color) !important;
}

div#main-container .multi-selector > div {
  border: 2px solid var(--border-color) !important;
  border-radius: 6px;
}

div#main-container .multi-selector *,
div#main-container .multi-selector input::placeholder {
  box-shadow: none !important;
  color: var(--text-color) !important;
}

div#main-container .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

div#main-container .button-container button {
  flex: 1;
  margin: 0 5px;
}

div#main-container input,
div#main-container button {
  box-sizing: border-box;
}

div#main-container input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 1.1rem;
  color: var(--text-color);
}

div#main-container input::placeholder {
  color: transparent;
}

div#main-container label.static-label {
  margin-left: 20px;
}

div#main-container label.moving-label {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: var(--foreground-color);
}

div#main-container input:focus + label.moving-label,
div#main-container input:not(:placeholder-shown) + label.moving-label,
div#main-container input[value]:not([value=""]) + label.moving-label {
  top: -10px;
  left: 10px;
  font-size: 14px;
}

div#main-container button.show-password-btn {
  position: absolute;
  top: 2px;
  right: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: none;
  color: var(--text-color);
  padding: 0;
}

div#main-container button[type="submit"],
div#main-container .button-container button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--safe-button);
}

div#main-container .button-container label {
  margin: 0;
}

div#main-container button.danger {
  font-size: 14px;
  background-color: var(--danger-button);
}

div#main-container .button-container button.danger:hover {
  background-color: var(--danger-button-hover);
}

div#main-container button[type="submit"]:hover,
div#main-container .button-container button:hover {
  background-color: var(--safe-button-hover);
}
