.blank-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-wrapper {
  background: white;
  padding: 20px;
  margin: 25px 0;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 80%;
  min-height: 70vh;
  max-width: 600px;
}

div#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin: 0 0 15px 0;
  }

  & h3 {
    margin: 0 0 15px 0;
  }

  & form,
  & div.under-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 300px;
  }

  & div.error-container {
    margin-bottom: 15px;
    height: 20px;

    & p.error {
      color: red;
      font-size: 12px;
      margin-top: 10px;
    }

    & p.updated {
      color: green;
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  & .input-container {
    position: relative;
    width: 100%;
  }

  & .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  & .button-container button {
    flex: 1;
    margin: 0 5px;
  }

  & input,
  & button {
    box-sizing: border-box;
  }

  & input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  & input::placeholder {
    color: transparent;
  }

  & label.moving-label {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: white;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  & input:focus + label.moving-label,
  & input:not(:placeholder-shown) + label.moving-label,
  & input[value]:not([value=""]) + label.moving-label {
    top: -10px;
    left: 10px;
    font-size: 12px;
  }

  & button.show-password-btn {
    position: absolute;
    top: 2px;
    right: 5px;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
  }

  & button[type="submit"],
  & .button-container button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }

  & button[type="submit"]:hover,
  & .button-container button:hover {
    background-color: darkgrey;
  }

  & button.danger {
    font-size: 12px;
    background-color: red;
  }
}
