#my-videos-page {
  padding: 20px;
  height: fit-content;
}

#end-of-page {
  margin: auto;
  text-align: center;
  background-color: var(--safe-button);
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 25px;
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 50px;
  width: fit-content;
  height: fit-content;
}

#end-of-page:hover {
  background-color: var(--safe-button-hover);
}

#footer {
  height: 30px;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 80px;
  margin-bottom: 10px;
}

#controls > label {
  width: 30vw;
  & > input,
  & > select {
    width: 80%;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--input-border);
  }
  & > * {
    margin: 5px 0;
  }
}

.video-results {
  display: grid;
  gap: 20px;
}

.no-video-results {
  display: flex;
  justify-content: center;
}

/* For very small screens, default to 1 column */
@media (max-width: 499px) {
  .video-results {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For small screens, use 2 columns */
@media (min-width: 500px) and (max-width: 699px) {
  .video-results {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For medium screens, use 3 columns */
@media (min-width: 700px) and (max-width: 999px) {
  .video-results {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For larger screens, use 4 columns */
@media (min-width: 1000px) and (max-width: 1299px) {
  .video-results {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For extra-large screens, use 5 columns */
@media (min-width: 1300px) {
  .video-results {
    grid-template-columns: repeat(5, 1fr);
  }
}
