#my-videos-page {
  padding: 20px;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 80px;
  margin-bottom: 20px;
}

#controls * {
  padding: 5px;
}

.video-results {
  display: grid;
  gap: 20px;
}

/* For very small screens, default to 1 column */
@media (max-width: 499px) {
  .video-results {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For small screens, use 2 columns */
@media (min-width: 500px) and (max-width: 699px) {
  .video-results {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For medium screens, use 3 columns */
@media (min-width: 700px) and (max-width: 999px) {
  .video-results {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For larger screens, use 4 columns */
@media (min-width: 1000px) and (max-width: 1299px) {
  .video-results {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For extra-large screens, use 5 columns */
@media (min-width: 1300px) {
  .video-results {
    grid-template-columns: repeat(5, 1fr);
  }
}
