footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
  color: var(--footer-text);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-background);
  z-index: 1;
  box-sizing: border-box;
}

#footer-copyright {
  margin: 5px;
  text-align: center;
}

#footer-icons {
  display: flex;
  gap: 15px;
}

#footer-icons a {
  display: flex;
  align-items: center;
  color: var(--footer-text);
}
