#help-page {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#help-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

#help-page p {
  margin-left: 15px;
}

.segment {
  background-color: var(--contrast-color);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px var(--container-shadow);
}

.segment h2 {
  margin-bottom: 15px;
}

.question-container {
  border: 1px solid var(--border-color);
  background-color: var(--text-primary-background);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.question-container h3 {
  margin: 0 0 10px 0;
}

.question-container p {
  margin: 0;
  padding-left: 15px;
}
