.video-info,
.notes-section {
  margin: 0px 25px;
}

.video-info h2 {
  margin: 10px 0;
}

.notes-section {
  margin-top: 20px;
}

@keyframes swing-in {
  0% {
    transform: rotateX(-90deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-out {
  0% {
    transform: rotateX(0);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    transform-origin: top;
    opacity: 0;
  }
}

.note-container {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  transition: all 0.75s ease;
  border-radius: 25px;
  box-shadow: 1px 5px 7px 3px rgba(0, 0, 0, 0.2);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;

  & * {
    margin: 0;
  }

  & > div {
    width: 100%;
  }
}

.note-content {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.75s ease-out,
    padding 0.75s ease-out;
  opacity: 0;
  transform-origin: top;
}

.note-container.active .note-content {
  max-height: 500px; /* Adjust as necessary */
  padding: 15px;
  opacity: 1;
  animation: swing-in 0.75s forwards;
}

.note-container:not(.active) .note-content {
  animation: swing-out 0.75s forwards;
}

.note-container.active .note-header {
  padding: 15px 15px 0 15px;
}

.note-container:not(.active) .note-header {
  padding: 15px;
}

.note-container h3 {
  margin: 5px 0;
}

.note-container p {
  margin: 0 5px;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.note-container span {
  font-size: 1.1em;
}

.note-buttons {
  display: flex;
  justify-content: flex-end;
}

.note-buttons button {
  background-color: grey;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.note-buttons button:hover {
  background-color: darkgrey;
}

.note-container input,
.note-container textarea {
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: none;
}

.note-content textarea:focus {
  outline: none;
}
