/* TODO: Add sitewide styles */

/* Default to light color variables */
body {
  --background-color: #f8f9fa;
  --foreground-color: #e9ecef;
  --contrast-color: #ced4da;
  --border-color: #adb5bd;
  --primary-text-color: #343a40;
  --primary-text-background: #fff;
  --secondary-text-color: #fff;
  --secondary-text-background: #495057;
  --container-shadow: rgba(0, 0, 0, 0.1);

  --update-button: #4caf50;
  --update-button-hover: #388e3c;
  --safe-button: #2196f3;
  --safe-button-hover: #1976d2;
  --danger-button: #ff5722;
  --danger-button-hover: #e64a19;
}

/* body.dark-theme {
  --background-color: black;
  --primary-text-color: #fff;
} */

body {
  --error-color: red;

  background-color: var(--background-color);
  color: var(--primary-text-color);

  margin: 0px;
  padding-bottom: 50px;
  padding-top: 40px;
}

* p {
  word-break: break-word;
}
