/* TODO: Add sitewide styles */

/* Static Colors */
body {
  --error-color: red;
  --updated-color: green;
  --safe-button: #007bff;
  --safe-button-hover: #0056b3;
  --danger-button: red;
  --danger-button-hover: darkred;
}

/* Default to light color variables */
body {
  --page-color: #fff;
  --background-color: #ccc;
  --text-color: #000;
  --container-shadow: 0px 8px 10px 0px rgba(25, 25, 25, 0.3);
  --container-color: #f9f9f9;
  --container-background: #e0e0e0;
  --header-background: #ccc;
  --header-border: #000;
  --footer-background: #333;
  --footer-text: #fff;
  --input-border: black;
  --input-color: #fff;
}

/* .dark-theme {
  --page-color: #000;
  --background-color: #333;
  --text-color: #fff;
} */

/* Apply default theme */
body {
  background-color: var(--page-color);
  color: var(--text-color);
}

body {
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 40px;
}

* p {
  word-break: break-word;
}
