.video-tile {
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.video-tile .image-container,
.video-tile img {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1.77;
  object-fit: cover;
}

.video-tile .title {
  margin-top: 10px;
  text-align: center;
}
