.video-item {
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.video-item img {
  width: 100%;
  height: auto;
}

.video-item div {
  margin-top: 10px;
  text-align: center;
  flex-grow: 1;
}
