div#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  background-color: var(--primary-text-background);
  z-index: 1;
  box-sizing: border-box;
}

div#navigation > h1 {
  cursor: pointer;
}

div#navigation > div {
  display: flex;
  align-items: center;
}

div#navigation > div > * {
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 5px;
  height: 25px;
  background-color: var(--safe-button);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  background-color: var(--safe-button-hover);
}
